body {
    font-family: 'Roboto', sans-serif;
}

/* Containers */


.callout-container {
    height: 100vh;

    background: url('/images/monkees bw.jpg') no-repeat center center fixed;
    -webkit-background-size: fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}


.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Navbar */

/* Alert */

.alert-container .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    color: #544600;
    background-color: #eec802;
    border-color: #eec802;
    padding: 5px 15px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0;
}

/* Buttons */

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}
