.body {
  font-family: 'Roboto', sans-serif;
}

.nav .current {
  background-color: blue;
}


.body {
  margin: 0;
}

.mt-0 {
  margin-top: 0 !important;
}

   .top-border {
        padding: 30px;
      }



/* Main content */

.main {
  margin-top: 50px;
  /* Add a top margin to avoid content overlay */
}

/* Containers */

.content-container {
  padding-top: 75px;
  padding-bottom: 75px;
}

/* Navbar */

/*list */

.li {
  margin: 10px 0;
}



/* Buttons */

.btn--cta {
  font-weight: bold;
  border-radius: 23px;
  width: 160px;
}

/* Style the Image Used to Trigger the Modal */

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}



.card {
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */
}

.myClass {
  background: #ecedea;
  padding: 10px 10px;
  display: inline-block;
  margin-right: 20px;
}