.body {
    font-family: 'Roboto', sans-serif;
}

.nav .current {
  background-color: blue;
}

.body {
	margin: 0;
}

.mt-0 {
  margin-top: 0 !important;
}


/* Main content */
.main {
  margin-top: 50px; /* Add a top margin to avoid content overlay */
}

/* Containers */




.callout-container {
    height: 100vh;

    background: url('/assets/images/mainimage1.jpg') no-repeat center center fixed;
    -webkit-background-size: fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}


.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Navbar */

/*list */

.li{
  margin: 10px 0;
}


/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}



.social-links {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #5B5BD8;
}

.fa:hover {
    opacity: 0.7;
}

.footer

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}


.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

